h1 {
    font-family: 'Roboto Mono', monospace;
    margin: 20px 0;
}

body {
    color: aliceblue;
    background-color: rgb(28, 28, 28);
    font-family: 'Source Code Pro', monospace;
}

.box-and-button {
    margin: 0 0 50px 0;
}

.bugs-list-container {
    left: 350px;
    position: absolute;
    width: 75%;
    margin: 20px 0;
}

.comments {
    position: absolute;
    margin: 40px 0;
    padding-bottom: 50px;
}

.comments button {
    display: inline-block;
}

.comments input {
    margin: 10px 0;
}


.contacts-names {
    font-size: 24px;
    margin: 30px 20px;
}

.contacts-emails {
    left: 350px;
    position: relative;
    width: 800px;
    margin: 20px 0;

}

.hamburger-menu {
    display: none;
}

.home-page {
    text-align: center;
    margin-top: 15%;
}

.logout {
    float: center;
    margin: 15px;
}

.sidebar {
    position: fixed;
}

.signin-form {
    margin: 100px auto;
}

/* .user-list-container {
    left: 350px;
    position: absolute;
    width: 40%;
    margin: 20px 0;
} */

.ticket-table tbody tr td,
.ticket-table thead tr th {
    background-color: rgb(28, 28, 28);
}

.ticket-table tbody tr:hover td,
.ticket-table tbody tr:hover th,
.user-list-container tbody tr:hover td {
    background-color: rgb(72, 72, 72);
    cursor: pointer;
}

.user-list-container,
.singular-user-container {
    left: 350px;
    position: absolute;
    width: 60%;
    margin: 20px 0;
}

.user-list-container tbody tr td,
.user-list-container thead tr th {
    background-color: rgb(28, 28, 28);
}

.singular-ticket-container {
    left: 350px;
    position: absolute;
    width: 50%;
    margin: 20px 0;
    padding: 0 0 20px 0;
}

.singular-ticket-container .edit-button {
    margin: 0 0 0 50px;
}

.singular-user-container input {
    margin: 0 0 25px 0;
}

.submit-container {
    left: 350px;
    position: absolute;
    width: 40%;
    margin: 20px 0;
}

.submit-container textarea {
    resize: none;
    margin: 30px 0;
}

.submit-container select {
    resize: none;
    margin: 20px 0;
}

@media only screen and (max-width: 720px) {

    /* .comments {
        position: relative;
        margin: 40px 0;
    }
    .comments input {
        margin: 10px 0;
    }

    .comments button {
        float: right;
    }

    .contacts-names {
        font-size: 24px;
        margin: 30px 20px;
    } */
    .bugs-list-container {
        left: 20px;
        position: relative;
        width: 75%;
        margin: 20px 0;
    }

    .submit-container {
        left: 20px;
        position: absolute;
        width: 90%;
        margin: 20px 0;
    }


    .hamburger-menu {
        display: block;
        z-index: 1;
    }

    .hamburger-menu p {
        cursor: pointer;
    }

    .sidebar {
        display: none;
    }

    .singular-ticket-container {
        left: 20px;
        position: relative;
        width: 90%;
        margin: 20px 0;
        padding: 0 0 20px 0;
    }

    .user-list-container,
    .singular-user-container {
        left: 20px;
        position: relative;
        width: 80%;
        margin: 20px 0;
    }

    .user-list-container {
        left: 20px;
        position: relative;
        width: 40%;
        margin: 20px 0;
    }


}